extends layout
block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let aeroplaneid = toShow._id
    - let aeroplane_type = toShow.aeroplane_type
    - let color = toShow.color
    - let number_of_wings = toShow.number_of_wings
    - let actionid = "/resource/aeroplane/" + aeroplaneid
    script.
      let actionid = "#{actionid}"
    div
      div.row
        div(class='aeroplaneAttr mr-3') aeroplaneid is:
          div #{aeroplaneid}
      div.row
        div(class='aeroplaneAttr mr-3') aeroplane type is:
          div #{aeroplane_type}
      div.row
        div(class='aeroplaneAttr mr-3') aeroplane color is:
          div #{color}
      div.row
        div(class='aeroplaneAttr mr-3') aeroplane Color:
          div #{number_of_wings}

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
      // Go back to the home page for the aeroplane collection
      window.location.href='/aeroplane'
    }
  script.
    function deleteOnid() {
      console.log("starting delete");
      // delete first
      fetch(actionid, {
        method: 'DELETE'     // Don't need a body for the delete
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeeded");
        window.location.href='/aeroplane';
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error );
      });
    }